<template>
  <div class="<%= data.lowerName %>"></div>
</template>

<script>
export default {
  name: "<%= data.name %>",
  props: {

  },
  components: {

  },
  data() {
    return {

    }
  },
  computed: {

  },
  methods: {

  },
  created() {

  },
  mounted() {

  }
}
</script>

<style>
.<%= data.lowerName %> {
  
}
</style>